<html>
    <body>
    <h1>Add Customer</h1>
    <form action="/add-customer" method='POST'>
        <input type="text" placeholder="Enter Name" name='firstName'>
        <input type="text" placeholder="Enter Age" name='age'>
        <button>Add Customer</button>
    </form>
    </body>
</html>