<html>
    <body>
    <h1>Add Tasks</h1>
    <form action="/addTasks" method='POST'>
        <input type="text" placeholder="Enter Title" name='title'>
        <input type="text" placeholder="Enter Priority" name='priority'>
        <button>Add Task</button>
    </form>
    </body>
</html>