<html>
    <body>
    <h1>Add Trip</h1>
    <form action="/trips/trips-post" method='POST'>
        <input type="text" placeholder="title" name='title'>
        <input type="date" placeholder="depart" name='depart'>
        <input type="date" placeholder="return" name='return'>
        <button>Add Trip</button>
    </form>

    <div>
    <h1>Trips</h1>
    <ul>
    {{#allTrips}}
        <li>
        <form action='/trips/trips-delete' method='POST'>
        <h3>{{title}}</h3>
        <a href='/trips/{{title}}'>Trip Name</a>
        <h4>Depart: {{depart}}</h4>
        <h4>Return: {{return}}</h4>
        <input type='hidden' name='id' value={{id}}></input>
        <button>Delete Trip</button>
        </form>
        </li>
    {{/allTrips}}
    </ul>
    </div>
    </body>
</html>

