.img {
    width: 100px;
    height: 100px;
}

div > .img {
    float: left;
    padding-right: 10px;
}

h5 {
    margin: 1em;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: inherit;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    margin: 10px;
    color: yellow;
    background: gray;
}